AWS_PROFILE=job-tracker
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=JobApplications
# DYNAMODB_ENDPOINT_URL=http://localhost:8080   # uncomment to use DynamoDB Local instead

COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

S3_RESUME_BUCKET_NAME=

SNS_TOPIC_ARN=